*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Fira Sans', sans-serif;
}

header{
    padding-top: 50px;
    padding-bottom: 50px;

    h1 {
        color: #AAA;
        background: -webkit-linear-gradient(#AAA, #3d43f0);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 72px;
        font-weight: 400;
        text-align: center;

    }
}

.content-wrap{
    display: flex;

    aside {
        flex: 1 1 250px;
        max-width: 250px;
        padding-right: 16px;

    nav { 
        padding-left: 16px;
        padding-right: 16px;

        h3{
            color: #AAA;
            background: -webkit-linear-gradient(#AAA, #3d43f0);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 24px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 16px;
            }

            a {
                display: block;
                padding: 8px 16px;
                text-align: left;

                color: #FFF;
                font-size: 16px;
                margin-bottom: .5rem;

                background-color: #8488f5;
                text-decoration: none;
                transition: 1s;
                transition-timing-function: ease;
                // ease in and out ?

                &:hover{
                background-image: linear-gradient(25deg, #AAA, #3d43f0);
                background-clip: text;
                background-color: #AAA;
                color: transparent;
                }
            }
        }
    }
}
